<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="gateway" stopProcessing="true">
                    <match url="."/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/ip-update/gateway/index.php"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
