@use "../../colors";

.card-container{
  padding-bottom: 32px;
}

#add-interval{
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  user-select: none;
  cursor: default;

  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  color: colors.$inactive;
  order: 9999;

  &:hover{
    background-color: #eee;
    color: #333;
  }
}
