<app-navbar [activeTab]="1"></app-navbar>
<h1 class="page-title">Időzítések</h1>
<div class="card-container">
  <app-card style="order: -100">
    <app-card-row>
      <img src="./assets/sunny.svg" alt="sunny">
      <h2>Normális hőmérséklet</h2>
    </app-card-row>

    <app-card-row>
      <img src="./assets/info.svg" alt="info">
      <div class="inactive-color-text">Ez a hőmérséklet fog érvénybe lépni, ha semelyik másik intervallum nem aktív
        éppen. Ha egy
        időpontban egyszerre több intervallum is aktív lenne, akkor a sorban előbb lévő hőmérséklete fog aktiválódni.
      </div>
    </app-card-row>

    <app-card-row>
      <app-temp-input placeholder="hőmérséklet" [value]="normalTemp"
                      (changed)="saveNormalTemp($event)"></app-temp-input>
    </app-card-row>
  </app-card>

  <ng-container [ngSwitch]="interval.type" *ngFor="let interval of intervals">
    <!-- NIGHT TEMP CARD -->
    <app-interval-card *ngSwitchCase="IntervalType.NIGHT" [ngStyle]="{order: interval.order}" (up)="up(interval)"
                       (down)="down(interval)" [currentInterval]="interval">
      <app-card-row>
        <img src="./assets/moon.svg" alt="night">
        <h2>Éjszakai hőmérséklet</h2>
      </app-card-row>

      <app-card-row>
        <img src="./assets/info.svg" alt="info">
        <div class="inactive-color-text">Ez a mód automatikusan aktiválódik a megadott intervallumban, de hamarabb is el
          lehet indítani, vagy megállítani a készüléken elhelyezett gombbal.
        </div>
      </app-card-row>

      <app-card-row>
        <app-temp-input placeholder="hőmérséklet" [(value)]="interval.temperature"
                        (changed)="svc.modifyProperty('temperature', interval.temperature, interval.order)"></app-temp-input>
      </app-card-row>

      <app-card-row>
        <span class="inactive-color-text">Engedélyezve:</span>
        <app-switch [state]="interval.enabled"
                    (stateChange)="interval.enabled = $event;svc.modifyProperty('enabled', interval.enabled?1:0,interval.order)"></app-switch>
      </app-card-row>

      <app-card-row class="flex-wrap">
        <div class="inactive-color-text">Intervallum:</div>
        <app-input-time-interval [time1]="''|timeToString:interval.startHour!:interval.startMinute!"
                                 [time2]="''|timeToString:interval.endHour!:interval.endMinute!"
                                 (time1Change)="onTime1Change($event, interval)"
                                 (time2Change)="onTime2Change($event, interval)">
        </app-input-time-interval>
      </app-card-row>
    </app-interval-card><!-- END NIGHT TEMP CARD -->

    <!-- CUSTOM INTERVAL CARD -->
    <app-interval-card *ngSwitchCase="IntervalType.CUSTOM" [ngStyle]="{order: interval.order}" (up)="up(interval)"
                       (down)="down(interval)" [currentInterval]="interval">
      <div class="icon-button material-icons delete-icon" (click)="deleteInterval(interval)">delete</div>

      <app-card-row>
        <img src="./assets/alarm.svg" alt="interval">
        <h2>Saját intervallum</h2>
      </app-card-row>

      <app-card-row>
        <app-temp-input placeholder="hőmérséklet" [(value)]="interval.temperature"
                        (changed)="svc.modifyProperty('temperature', interval.temperature, interval.order)"></app-temp-input>
      </app-card-row>

      <app-card-row>
        <span class="inactive-color-text">Engedélyezve:</span>
        <app-switch [state]="interval.enabled"
                    (stateChange)="interval.enabled = $event; svc.modifyProperty('enabled', interval.enabled?1:0,interval.order)"></app-switch>
      </app-card-row>

      <app-card-row>
        <div class="inactive-color-text">Ismétlés:</div>
        <app-dropdown-list [items]="frequencies"
                           [selected]="interval.repetitionFrequency!"
                           (selectedChange)="changedFrequency($event, interval)"
        ></app-dropdown-list>
      </app-card-row>

      <ng-container [ngSwitch]="interval.repetitionFrequency"><!-- SWITCH FREQUENCY -->
        <!-- CASE DAILY -->
        <app-card-row class="flex-wrap" *ngSwitchCase="RepetitionFrequency.DAILY">
          <div class="inactive-color-text">Intervallum:</div>
          <app-input-time-interval [time1]="''|timeToString:interval.startHour!:interval.startMinute!"
                                   [time2]="''|timeToString:interval.endHour!:interval.endMinute!"
                                   (time1Change)="onTime1Change($event, interval)"
                                   (time2Change)="onTime2Change($event, interval)"
          ></app-input-time-interval>
        </app-card-row>

        <!-- CASE WEEKLY -->
        <ng-container *ngSwitchCase="RepetitionFrequency.WEEKLY">

          <app-card-row class="flex-wrap">
            <div class="inactive-color-text">Intervallum:</div>
            <app-input-time-interval [time1]="''|timeToString:interval.startHour!:interval.startMinute!"
                                     [time2]="''|timeToString:interval.endHour!:interval.endMinute!"
                                     (time1Change)="onTime1Change($event, interval)"
                                     (time2Change)="onTime2Change($event, interval)">
            </app-input-time-interval>
          </app-card-row>

          <app-select-days-of-week [value]="interval.daysOfWeek!"
                                   (valueChange)="interval.daysOfWeek = $event; svc.modifyProperty('daysOfWeek', interval.daysOfWeek, interval.order)"></app-select-days-of-week>
        </ng-container>

        <!-- CASE NEVER -->
        <app-card-row class="flex-wrap" *ngSwitchCase="RepetitionFrequency.NEVER">
          <div class="inactive-color-text">Intervallum:</div>
          <app-input-datetime-range
            [dateTime1]="''|dateToString:interval.startYear!:interval.startMonth!:interval.startDay!:interval.startHour!:interval.startMinute!"
            [dateTime2]="''|dateToString:interval.endYear!:interval.endMonth!:interval.endDay!:interval.endHour!:interval.endMinute!"
            (dateTime1Change)="onDateTime1Change($event, interval)"
            (dateTime2Change)="onDateTime2Change($event, interval)"
          ></app-input-datetime-range>
        </app-card-row>

      </ng-container>

    </app-interval-card>
  </ng-container>

  <div id="add-interval" (click)="newInterval()">
    <div class="material-icons">add</div>
    <span>Intervallum hozzáadása</span>
  </div>
</div>
